img {
    width: 100%;
    max-width: 600px;
}

.ia > img {
    transform: scaleX(-1);
}
#result {
    font-size: 25px;
    font-weight: bold;
}
input {
    width: 100px;
    text-transform: uppercase;
}